.about{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-image: url("images/notexture-bg.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding: 7% 15% ;
    gap: 20px;
    transition: all .5s ease;
  }
  
  .about-text{
    position: relative;
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 40px;
  }
  
  .about-us{
    position: relative;
    min-width: 110px;
    max-width: 110px;
    padding: 8px 16px;
    background-color: #000000;
    color: #fff;
    height: fit-content;
    border-radius: 16px;
    font-size: 16px;
    line-break: strict;
  }
  
  .desc{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .desc p{
    position: relative;
    font-size: 18px;
    color: #222222;
  }
  
  .co-sign{
    display: flex;
    gap: 20px;
    flex-direction: column;
  }
  
  .co-sign p{
    font-size: 10px;
  }
  
  .companies{
    position: relative;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .stats{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-around;
    color: #111A39;
    background-color: #F5F5F5;
    padding: 40px 120px;
    border-radius: 100px;
    border: 2px solid #00000011;
  }
  
  .stat{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .stat h2{
    font-size: 70px;
    font-weight: 700;
  }
  
  .stat p{
    font-size: 18px;
    font-weight: 200;
  }

@media (max-width: 1024px) {

  .about{
    padding: 10% !important;
  }

  .desc p{
    font-size: 16px;
  }

  .co-sign p{
    font-size: 10px;
  }

  .companies img{
    transform: scale(0.8);
  }

  .stat h2{
    font-size: 50px;
  }

  .stat p{
    font-size: 16px;
  }

  .about{
    padding: 7% 10% ;
  }
}

@media (max-width: 768px) {

  .about{
    padding: 10% !important;
  }
  
  .about-text{
    flex-direction: column;
    gap: 20px;
  }



  .desc{
    gap: 10px;
    padding: 0px 20px;
    margin-bottom: 20px;
  }

  .desc p{
    font-size: 16px;
  }

  .co-sign p{
    font-size: 10px;
  }

  .companies img{
    transform: scale(0.8);
  }

  .stat h2{
    font-size: 40px;
  }

  .stat p{
    font-size: 12px;
  }
}

@media (max-width: 668px) {
  .about{
    padding: 10% !important;
  }

  .about-text{
    flex-direction: column;
    gap: 20px;
  }

  .desc{
    gap: 10px;
    padding: 0px 20px;
  }

  .desc p{
    font-size: 14px;
  }

  .co-sign{
    gap: 10px;
  }

  .co-sign p{
    font-size: 10px;
  }

  .companies img{
    transform: scale(0.78);
  }

  .stats{
    padding: 30px 80px;
  }

  .stat h2{
    font-size: 38px;
  }

  .stat p{
    font-size: 10px;
  }
}

@media (max-width: 565px) {

  .about{
    gap: 5px;
  }

  .about-text{
    gap: 10px;
  }

  .about-us{
    padding: 5px 10px;
    font-size: 14px;
    min-width: 90px;
    max-width: 90px;
  }

  .desc p{
    font-size: 12px;
  }

  .co-sign p{
    font-size: 10px;
  }

  .companies img{
    transform: scale(0.7);
  }
}


@media (max-width: 425px) {

  .about-us{
    font-size: 12px;
    min-width: 80px;
    max-width: 80px;
  }
  

  .desc{
    gap: 10px;
    padding: 0px 20px;
  }

  .desc p{
    font-size: 15px;
  }

  .co-sign p{
    font-size: 8px;
  }

  .stats{
    margin-top: 20px;
    padding: 20px 40px;
  }

  .stat h2{
    font-size: 30px;
  }

  .stat p{
    font-size: 6px;
  }
}

@media (max-width:400px) {
  .about-us{
    margin-left: 20px;
  }
}

@media (min-width: 1750px) {
  .about{
    padding: 7% 20% ;
  }

  .stats{
    padding: 40px 150px;
  }

  .stat h2{
    font-size: 80px;
  }

  .stat p{
    font-size: 20px;
  }

  .companies img{
    transform: scale(1);
  } 

  .about-us{
    font-size: 20px;
    min-width: 120px;
    max-width: 120px;
  }

  .desc p{
    font-size: 20px;
  }



}