.book-a-demo{
    position: relative;
    padding: 0px ;
}

.textured-bg{
    background: url("images/background.png") #f5f5f5;
    background-size: cover;
}

.demo-container{
    position: relative;
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000000;
    flex-wrap: wrap;
}

.demo-container h3{
    font-family: "hammersmith one";
    width: 400px;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 30px;
}

.demo-container h3 span{
    color: #1E7205;
    font-weight: 600;
}

.demo-container p{
    font-family: inter;
    font-size: 16px;

}

.demo-container ul{
    position: relative;
    font-family: inter;
    padding: 0px 20px;
}

.demo-container ul li{
    margin: 15px 0px;
    font-size: 20px;
}

.demo-container ul li span{
    font-weight: 600;
    color: #000000;
}

.demo-form{
    position: relative;
    width: 450px;
    height: 450px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
    align-items: center;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0px 4px 4px 0px #00000076;
    font-family: inter;
}

.demo-form h4{
    font-size: 20px;
    font-weight: 600;
}

.demo-form-inputs{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.email{
    padding: 15px 25px;
    border-radius: 16px;
    border: 1px solid #555555;
    outline: none;
}

.checkbox{
    display: flex;
    flex-direction: row-reverse;
    align-items: start;
    font-size: 10px;
    gap: 10px;
    margin-bottom: 40px;
}

.checkbox input:hover{
    cursor: pointer;
    transition: all ease .2s;
}

.checkbox label{
    font-size: 10px;
}

.checkbox label span{
    font-weight: 600;
    color: #000000;
}

.demo-submit-btn{
    padding: 16px 60px;
    background-color: #1E7205;
    color: #fff;
    border: none;
    border-radius: 14px;
    font-size: 16px;
}

.demo-submit-btn:hover{
    cursor: pointer;
    transition: all ease .2s;
}

@media (max-width: 1173px){
    .demo-container{
        margin-top: 40px;
        gap: 20px;
        /* flex-direction: column;
        align-items: start; */
    }

    .demo-container h3{
        font-size: 30px;
        line-height: 30px;
        margin-bottom: 20px;
    }

    .demo-container p{
        font-size: 12px;
        width: 400px;
    }

    .demo-container ul li{
        font-size: 14px;
    }

    .demo-form{
        width: 380px;
        height: 380px;
    }

    .checkbox label{
        font-size: 9px;
    }

    .demo-submit-btn{
        font-size: 14px;
    }
    
}

@media (max-width: 920px){

    .demo-form{
        width: 300px;
        height: 350px;
        padding: 30px;
    }

    .demo-form h4{
        font-size: 14px;
    }

    .email{
        font-size: 12px;
        padding: 10px 14px;
    }

    .demo-submit-btn{
        width: 100%;
        padding: 14px;
        font-size: 12px;
    }
}

@media (max-width: 840px){
    .demo-container{
        flex-direction: column;
        align-items: center;
    }

    .demo-content{
        width: 100%;
    }

    .demo-content h3{
        width: auto;
    }

    .demo-content p{
        width: auto;
    }
}

@media (max-width: 500px){
    .demo-content h3{
        font-size: 24px;
    }

    .demo-content p{
        font-size: 10px;
        width: 80%;
    }

    .demo-content ul li{
        font-size: 12px;
    }
}

@media (min-width: 1750px) {


    .demo-container{
        margin-top: 0px;
    }

    .demo-container h3{
        font-size: 50px;
        width: 800px;

    }

    .demo-container p{
        font-size: 20px;
    }

    .demo-container ul li{
        font-size: 24px;
    }

    .demo-form{
        width: 500px;
        height: 500px;
    }

    .demo-form h4{
        font-size: 24px;
    }

    .email{
        padding: 15px 25px;
        font-size: 16px;
    }

    .checkbox label{
        font-size: 12px;
    }

    .demo-submit-btn{
        padding: 20px 60px;
        font-size: 16px;
    }
}