.faq{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-image: url("static/images/notexture-bg.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6% 20% ;
    gap: 20px;
  }

.faq-header{
    position: relative;
    width: 100%;
    text-align: center;
  }

.faq-header h2{
    font-size: 36px;
    font-weight: 500;
    color: #000000;
  }

.faq-header p{
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    font-family: inter;
}

.categories{
    position: relative;
    width: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.category{
    border-radius: 12px;
    border: 1.5px solid #222222;
    background-color: #fff;
    padding: 10px 20px;
    font-family: inter;
    font-weight: 500;
    color: #000000;
}

.category:hover{
    cursor: pointer;
    transition: all .2s ease;
}

.categories .active{
    color: #fff;
    background-color: #222222;
}

.QA{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.faq-item{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #222222;
}

.question{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question{
    font-weight: 600;
    font-family: inter;
    font-size: 20px;
}

.question .arrow{
    padding: 5px;
    font-size: 30px;
    border-radius: 50%;
    border: #000000 1px solid;
}

.arrow:hover{
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.answer{
    font-size: 15px;
    font-weight: 500;
}

@media (max-width: 1024px) {
    .faq{
        padding: 80px 10%;
    }
}

@media (max-width: 768px) {
    .faq-header h2{
        font-size: 32px;
    }

    .faq-header p{
        font-size: 14px;
    }

    .category{
        padding: 10px 15px;
    }

    .QA{
        padding: 10px;
        gap: 10px;
    }

    .question{
        font-size: 18px;
    }

    .arrow{
        transform: scale(0.8);
    }

    .answer{
        font-size: 14px;
    }
}

@media (max-width: 650px){
    .faq{
        padding: 80px 7%;
    }

    .faq-header h2{
        font-size: 28px;
    }

    .faq-header p{
        font-size: 12px;
    }

    .category{
        padding: 8px 10px;
        font-size: 12px;
        border: 1px solid #222222;
    }

    .QA{
        padding: 10px;
    }

    .question{
        font-size: 14px;
    }

    .arrow{
        transform: scale(0.7);
    }


    .answer{
        font-size: 12px;
    }
}

@media (max-width: 500px){
    .faq-header h2{
        font-size: 24px;
    }

    .faq-header p{
        font-size: 10px;
    }   

    .category{
        padding: 6px 8px;
        font-size: 10px;
    }

    .QA{
        padding: 10px;
        gap: 10px;
    }

    .question {
        font-size: 12px !important;
    }

    .arrow{
        transform: scale(0.6);
    }

    .answer{
        font-size: 10px;
    }
}

@media (max-width: 425px){



    .arrow{
        transform: scale(0.4);
    }


}

@media (min-width: 1750px) {
    .faq{
        padding: 7% 20% ;
    }

    .faq-header h2{
        font-size: 40px;
    }

    .faq-header p{
        font-size: 18px;
    }

    .category{
        padding: 12px 24px;
        font-size: 18px;
    }

    .QA{
        padding: 20px;
        gap: 30px;
    }

    .question{
        font-size: 24px;
    }

    .arrow{
        transform: scale(1);
    }

    .answer{
        margin-top: 10px;
        font-size: 18px;
    }


}
